/************ Other files ************/

@import 'scrollbar.css';
@import 'tabs.css';
@import url(https://fonts.googleapis.com/css?family=Didact+Gothic|Open+Sans:400,300,600,700);

/************* General *************/
a {
    color: #fff;
}

textarea {
    border-radius: 2px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, Gulim;
    font-size: 0.85rem;
    border: 1px solid rgb(169, 169, 169);
    width: calc(100% - 10px);

}
/************ Chat Messages ************/
.chat-message {
    color: #C0DCE7;
    display: block;
    position: relative;
}
.chat-message-system {
    font-style: italic;
    text-align: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.chat-message-action {
    font-style: italic;
}
.chat-message-user {
    font-weight: bold;
}
.chat-message-action > .chat-message-content > a > .chat-message-user {
    color: #C0DCE7;
}
.chat-message-user-link {
    text-decoration: none;
}
.chat-message-time {
    color: #627587;
    white-space: nowrap;
    font-size: 0.8em;
}
.chat-message-options {
    position: absolute;
    display: none;
    top: -2px;
    right: 10px;
    font-size: 20px;
}

.chat-message:hover > .chat-message-options, .chat-userlist-user:hover > .chat-message-options {
    display: block;
    cursor: pointer;
}

/* Message options menu */
.message-options-menu {
    background-color: white;
    border-radius: 2px;
}
.message-options-menu .ui-state-active {
    background-color: #DDD;
    border-radius: 2px;
    margin: 0px !important;
}

.message-options-menu .ui-widget-header {
    margin: 3px 3px 0px;
    padding: 2px;
    border-bottom: 1px solid #333;
    font-weight: bolder;
}

/* Report dialog */
.report-dialog {
    background-color: #123768;
    border-radius: 5px;
    color: white;
    max-width: 350px;
}

.report-dialog .ui-dialog-titlebar-close,
.report-dialog .ui-dialog-titlebar,
.report-dialog .ui-resizable-handle {
  display: none !important;
}

/************ Chat User List ************/
.chat-userlist-user {
    display: block;
    position: relative;
}
.chat-userlist-user > a:first-child {
    text-decoration: none;
    font-weight: bold;
}

/************* Chat input *************/
#chat-input, #reconnect {
    position: absolute;
    bottom: 0px;
    left:0px;
    height: 19px;
    resize: none;
    margin: 10px;
}
/************** Tooltips ***************/
.chat-message-user-link:hover .tooltip, .tooltip-content {
    visibility: visible;
    opacity:1;
    z-index: 1;
}
.chat-userlist-user:hover:hover .tooltip, .tooltip-content {
    visibility: visible;
    opacity:1;
    z-index: 1;
}
.tooltip {
    visibility: hidden;
    position: absolute;
    transition: opacity;
    transition-duration: 0.5s;
    transition-delay: 1s;
    opacity:0;
    background-color: #011e46;
    color:white;
    font-family: 'Century Gothic','Didact Gothic','Arial',sans-serif;
    border: rgba(255, 255, 255, 0.2) solid 2px;
    left:0px;
    top:-20px;
}
.tooltip-h1 {
    text-align:center;
    margin:2px;
}
.tooltip-p {
    margin:5px;
}
/************** Buttons ***************/

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.green-button, .blue-button {
  margin-bottom: 5px !important;
  padding: 4px 7px !important;
}

.green-button,
.green-button-interactive,
.green-button-interactive2D {
    background-color: #4FB748;
    font-weight: normal;
    position: relative;
    text-align: center;
    font-size: 12px;
    padding: 0px;
    text-transform: capitalized;
    font-family: 'Century Gothic', 'Didact Gothic', Arial, sans-serif;
}

.green-button-bg {
    position: absolute;
}

.green-button-interactive {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 5px 5px #2C6628;
}

.green-button-interactive:hover,
.green-button-interactive.hover {
    background-color: #48A641;
    box-shadow: 4px 4px #2C6628;
    -webkit-transform: translate(1px, 1px);
    -moz-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
}

.green-button-interactive:active,
.green-button-interactive.active {
    background-color: #48A641;
    box-shadow: 2px 2px #2C6628;
    -webkit-transform: translate(3px, 3px);
    -moz-transform: translate(3px, 3px);
    transform: translate(3px, 3px);
}

.green-button,
.green-button-interactive2D {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0px 5px #2C6628;
    margin: 0px 2.5px;
}

.green-button:hover,
.green-button.hover,
.green-button-interactive2D:hover,
.green-button-interactive2D.hover {
    background-color: #48A641;
    box-shadow: 0px 4px #2C6628;
    -webkit-transform: translate(0px, 1px);
    -moz-transform: translate(0px, 1px);
    transform: translate(0px, 1px);
}

.green-button:active,
.green-button.active,
.green-button-interactive2D:active,
.green-button-interactive2D.active {
    background-color: #48A641;
    box-shadow: 0px 2px #2C6628;
    -webkit-transform: translate(0px, 3px);
    -moz-transform: translate(0px, 3px);
    transform: translate(0px, 3px);
}

.blue-button,
.blue-button-interactive,
.blue-button-interactive2D {
  background-color:#33B5E5;
  font-weight:bolder;
  position:relative;
  text-align:center;
  padding: 0px;
  text-transform: capitalized;
  font-family: 'Century Gothic', 'Didact Gothic', Arial, sans-serif;
  text-decoration: none;
  font-size: 12px;
}
.blue-button-bg {
  opacity:0.8;
  filter:alpha(opacity=80);
  position:absolute;
}
.blue-button-interactive {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 5px 5px #19576E;
}
.blue-button-interactive:hover,
.blue-button-interactive.hover {
    background-color: #2A98C0;
    box-shadow: 4px 4px #19576E;
    -webkit-transform: translate(1px, 1px);
    -moz-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
}
.blue-button-interactive:active,
.blue-button-interactive.active {
    background-color: #2A98C0;
    box-shadow: 2px 2px #19576E;
    -webkit-transform: translate(3px, 3px);
    -moz-transform: translate(3px, 3px);
    transform: translate(3px, 3px);

}
.blue-button,
.blue-button-interactive2D {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0px 5px #19576E;
  margin:0px 2.5px;
}
.blue-button:hover,
.blue-button.hover,
.blue-button-interactive2D:hover,
.blue-button-interactive2D.hover {
    background-color: #2A98C0;
    box-shadow: 0px 4px #19576E;
    -webkit-transform: translate(0px, 1px);
    -moz-transform: translate(0px, 1px);
    transform: translate(0px, 1px);
}
.blue-button:active,
.blue-button.active,
.blue-button-interactive2D:active,
.blue-button-interactive2D.active {
    background-color: #2A98C0;
    box-shadow: 0px 2px #19576E;
    -webkit-transform: translate(0px, 3px);
    -moz-transform: translate(0px, 3px);
    transform: translate(0px, 3px);

}

/* To determine input size */
#chat-input-hidden {
    visibility: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    width: Calc(100% - 28px);
    min-height: 19px;
    border: 1px;
}