/* Eterna base CSS, limited to CSS required for rendering the page properly */
* {
    margin: 0px;
    padding: 0px;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: auto !important;
    height: 100%;
    background-color: #011e46;
}
